*{
    margin: 0;
    padding: 0;
}

.container{
    Border: 2px blueviolet solid;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-template-rows: repeat(12, 100px);
    gap: 2px;
}
.item{
    background-color: aqua;
    border: 1px solid;
    
}

